
<% if notice %>
	<div style='font-size:12pt;height:25px;border-radius:3px;width:400px;background-color:green;color:white;text-align:center;' id="notice">
		 <div><%= notice %>   </div>
	</div>
<% end %>

<h2>Log In</h2>
<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>


<table style='background-color:#f9f9f9'>
  <tr class='row'>
    <td class='row'><%=raw SystemText.where("key = ?",'HOME_PAGE').first.value%></td>
    <td>

      <%= form_tag sessions_path do %>
        <p>
          <%= label_tag :login, "Username" %><br />
          <%= text_field_tag :login, params[:login] %>
        </p>
        <p>
          <%= label_tag :password %><br />
          <%= password_field_tag :password %>
        </p>
        <p><%= submit_tag "Log in" %></p>
      <% end %>
    </td>
  </tr>
</table>