


<%= form_for(@action_step) do |f| %>
  <% if @action_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action_step.errors.count, "error") %> prohibited this action_step from being saved:</h2>

      <ul>
      <% @action_step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <label>Target Date <span style='font-size:10pt;color:gray'>(Please enter as MM/DD/YYYY)</span></label>
    <%= f.text_field :target_date   , :value => (@action_step.target_date.blank? ? '' : @action_step.target_date.to_s) %>    
  </div>
  
  <div class="field">
    <label>Date Completed <span style='font-size:10pt;color:gray'>(Please enter as MM/DD/YYYY)</span></label>
    <%= f.text_field :completed   , :value => (@action_step.completed.blank? ? '' : @action_step.completed.to_s) %>  
  </div>
  <div class="actions">
    <%= f.submit  "Save Action Step" %>
  </div>
<% end %>
