<h1>Your ONE Goal Action Steps</h1>

<% if notice %>
  <div style='margin-left:30px;font-size:12pt;height:25px;border-radius:3px;width:400px;background-color:green;color:white;text-align:center;' id="notice">
     <div><%= notice %>   </div>
  </div>
<% end %>


<table style='
      font-size:12px;
      margin-left:30px;
      width:90%;
      border:2px solid;
      border-color:#800000'>

  <thead>
    <tr><td colspan=6 style='height:20px;font-size:14pt;background-color:maroon;color:white;text-align:center'>You have completed <%= Goal.percent_complete(User.find(session['user_id'].to_i)) %>% of the steps toward your goal.</td></tr>
    <tr><td colspan=6>&nbsp;</td></tr>
    <tr><td colspan=6 style='text-align:right;font-size:12pt'><%= link_to 'Enter New Action Step', new_action_step_path %></td></tr>
    <tr><td colspan=6>&nbsp;</td></tr>
    <tr>
      <th>Description</th>
      <th>Target Date</th>
      <th>Date Completed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @action_steps.each do |action_step| %>
      <tr>
        <td><%= action_step.description %></td>
        <td><%= action_step.target_date %></td>
        <td><%= action_step.completed %></td>
        <td><%= link_to 'Edit', edit_action_step_path(action_step) %></td>
        <td><%= link_to 'Complete', complete_action_step_path(action_step), method: :get, data: { confirm: 'Complete Action Step?' } %></td>
        <td><%= link_to 'Delete', action_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @action_steps %>