<h1>Your ONE Goal Action Steps</h1>


<% if notice %>
  <div style='font-size:12pt;height:25px;border-radius:3px;width:400px;background-color:green;color:white;text-align:center;' id="notice">
     <div><%= notice %>   </div>
  </div>
<% end %>


<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Target date</th>
      <th>Completed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @action_steps.each do |action_step| %>
      <tr>
        <td><%= action_step.description %></td>
        <td><%= action_step.target_date %></td>
        <td><%= action_step.completed %></td>
        <td><%= link_to 'Edit', edit_action_step_path(action_step) %></td>
        <td><%= link_to 'Complete', complete_action_step_path(action_step), method: :get, data: { confirm: 'Complete Action Step?' } %></td>
        <td><%= link_to 'Delete', action_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Action step', new_action_step_path %>
