<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @goal.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @goal.display_name %>
</p>

<p>
  <strong>Club name:</strong>
  <%= @goal.club_name %>
</p>

<p>
  <strong>Display club:</strong>
  <%= @goal.display_club %>
</p>

<p>
  <strong>Request buddy:</strong>
  <%= @goal.request_buddy %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
