<!DOCTYPE html>
<html>
<head>
  <title>OneGoal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<div id='header'>
			<div style='width:100%'>
				<%= image_tag("tm-logo.jpg")    %>  
			</div>
			

			<% if session.keys.include? 'user_id' %>
			<div class='container'  style='width:100%'>
				<table  style=';margin-top:-10px;margin-left:-15px;width:100%'>
					<tr class='row'>
						<td style='text-align:center;font-size:14pt'><a href='goal.html'>My ONE Goal</a></td>
						<td style='text-align:center;font-size:14pt'><a href='milestones.html'>Action Steps</a></td>
						<td style='text-align:center;font-size:14pt'><a href='marquee_settings.html'>My Marquee Setting</a></td>
						<td style='text-align:center;font-size:14pt'><a href='marquee.html'>Public Marquee</a></td>
						<td style='text-align:center;font-size:14pt'><a href='/logout'>Sign Out</a></td>
					</tr>
				</table>
			</div>
			<% else %>
				<table  style=';margin-top:-10px;margin-left:-15px;width:100%'>
					<tr class='row'>
						<td style='text-align:center;font-size:14pt'><a href='/home'>Home</a></td>
						<td style='text-align:center;font-size:14pt'><a href='/signup'>Register</a></td>
						<td style='text-align:center;font-size:14pt'><a href='/login'>Login</a></td>
						<td style='text-align:center;font-size:14pt'><a href='about.html'>About</a></td>
					</tr>
				</table>

			<% end %>




		</div>

<div style='margin-left:30px'>
<%= yield %>
</div>

</body>
</html>
