<!DOCTYPE html>
<html>
<head>
  <title>OneGoal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<%

def menu_bg_color path 
	if request.fullpath.start_with? path 
		'maroon'
	else
		'white'
	end
end

def menu_text_color path 
	if request.fullpath.start_with? path 
		'white'
	else
		'maroon'
	end
end


%>


<body>
		<div id='header'>
			<div style='width:100%'>
				<%= image_tag("tm-logo.jpg")    %>  
			</div>
			

			<% if session.keys.include? 'user_id' %>
				<% member = Member.where("user_id = ?",session['user_id'].to_i).first  %>
				<div class='container'  style='width:100%'>
					<table  style=';margin-top:-10px;margin-left:-15px;width:100%'>
						<% if member.nil? == false %>
							<tr class='row'><td colspan=5>Logged in as: <%= "#{member.first_name} #{member.last_name}" %></td></tr>
						<% end %>
						<tr class='row'>
							<td style='background-color:<%=menu_bg_color('/goals/new') %>;text-align:center;font-size:14pt'>	<a style='color:<%=menu_text_color('/goals/new')%>' 		href='/goals/new'>My ONE Goal</a></td>
							<td style='background-color:<%=menu_bg_color('/action_steps')%>;text-align:center;font-size:14pt'>	<a style='color:<%=menu_text_color('/action_steps')%>'; 	href='/action_steps'>Action Steps</a></td>
							<td style='background-color:<%=menu_bg_color('/resources')%>;text-align:center;font-size:14pt'>		<a style=';color:<%=menu_text_color('/resources')%>'	   	href='/resources'>Resources</a></td>

							<% if Member.where("user_id = ? ", session['user_id'] ).count == 1 %>
								<td style='background-color:<%=menu_bg_color('/member')%>;text-align:center;font-size:14pt'> 	<a style=';color:<%=menu_text_color('/member')%>'	 href='/members/<%=member.id%>/edit'>Member Info</a></td>
							<% end %>


							<% user_is_admin = Administrator.all.collect{|admin| admin.user_id }.include?(session['user_id']) %> 

							<% if user_is_admin %>
								<td style='background-color:<%=menu_bg_color('/system_texts')%>;text-align:center;font-size:14pt'><a  style='color:<%=menu_text_color('/system_texts')%>'   href='/system_texts'>System Text</a></td>
							<% end %>

							<td style='background-color:<%=menu_bg_color('/logout')%>;color:<%=menu_text_color('/logout')%>;text-align:center;font-size:14pt'><a href='/logout'>Sign Out</a></td>
						</tr>
					</table>
				</div>
			<% else %>
				<table  style=';margin-top:-10px;margin-left:-15px;width:100%'>
					<tr class='row'>
						<td style='background-color:<%=menu_bg_color('/login')%>;text-align:center;font-size:14pt'>		<a style=';color:<%=menu_text_color('/login')%>'   href='/login'>Home</a></td>
						<td style='background-color:<%=menu_bg_color('/about')%>;text-align:center;font-size:14pt'>		<a style=';color:<%=menu_text_color('/about')%>'   href='/about'>Tell Me More</a></td>
						<td style='background-color:<%=menu_bg_color('/signup')%>;text-align:center;font-size:14pt'>	<a style=';color:<%=menu_text_color('/signup')%>'  href='/signup'>Register</a></td>
						<td style='background-color:<%=menu_bg_color('/faq')%>;text-align:center;font-size:14pt'>		<a style=';color:<%=menu_text_color('/faq')%>'     href='/faq'>FAQ</a></td>
					</tr>
				</table>

			<% end %>
		</div>

<div style='height:550px;margin-left:30px'>
<%= yield %>
</div>

<% if secured_page? %>
	<% @marquee_text ||= Goal.marquee_text %>
	<div style="width:100%; bottom: 0px; left: 0px; height:20px; font-size:12pt;  background-color: maroon; color: white">
	  <marquee scrollamount='2' scrolldelay='1' direction="left" onmouseover="this.stop()" onmouseout="this.start()"><%= @marquee_text %></marquee>
	  </div>
	</div>
<% end %>

</body>
</html>
