<!DOCTYPE html>
<html>
<head>
  <title>OneGoal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<%

def selected?(paths)
	paths.collect{|x| request.fullpath.start_with? x}.include?(true)
end


def menu_bg_color *args
	if selected?(args)
		'maroon'
	else
		'white'
	end
end

def menu_text_color *args
	if selected?(args)
		'white'
	else
		'maroon'
	end
end


%>


<body>
		

<%= render 'layouts/header' %>

<div style='width:1000px;height:600px;margin-left:30px'>
<%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>





















