<!DOCTYPE html>
<html>
<head>
  <title>OneGoal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<div id='header'>
			<div style='width:100%'>
				<%= image_tag("tm-logo.jpg")    %>  
			</div>
			

			<% if session.keys.include? 'user_id' %>
				<% member = Member.where("user_id = ?",session['user_id'].to_i).first  %>
				<div class='container'  style='width:100%'>
					<table  style=';margin-top:-10px;margin-left:-15px;width:100%'>
						<% if member.nil? == false %>
							<tr class='row'><td colspan=5>Logged in as: <%= "#{member.first_name} #{member.last_name}" %></td></tr>
						<% end %>
						<tr class='row'>
							<td style='text-align:center;font-size:14pt'><a href='/goals/new'>My ONE Goal</a></td>
							<td style='text-align:center;font-size:14pt'><a href='/action_steps'>Action Steps</a></td>
							<td style='text-align:center;font-size:14pt'><a href='/resources'>Resources</a></td>

							<% user_is_admin = Administrator.all.collect{|admin| admin.user_id }.include?(session['user_id']) %>

							<% if user_is_admin %>
								<td style='text-align:center;font-size:14pt'><a href='/system_texts'>System Text</a></td>
							<% end %>

							<td style='text-align:center;font-size:14pt'><a href='/logout'>Sign Out</a></td>
						</tr>
					</table>
				</div>
				
			<% else %>
				<table  style=';margin-top:-10px;margin-left:-15px;width:100%'>
					<tr class='row'>
						<td style='text-align:center;font-size:14pt'><a href='/login'>Home</a></td>
						<td style='text-align:center;font-size:14pt'><a href='/about'>Tell Me More</a></td>
						<td style='text-align:center;font-size:14pt'><a href='/signup'>Register</a></td>
						<td style='text-align:center;font-size:14pt'><a href='/faq'>FAQ</a></td>
					</tr>
				</table>

			<% end %>
		</div>

<div style='height:500px;margin-left:30px'>
<%= yield %>
</div>

<% if secured_page? %>
	<% @marquee_text ||= Goal.marquee_text %>
	<div style="width:100%; bottom: 0px; left: 0px; height:20px; font-size:12pt;  background-color: maroon; color: white">
	  <marquee scrollamount='2' scrolldelay='1' direction="left" onmouseover="this.stop()" onmouseout="this.start()"><%= @marquee_text %></marquee>
	  </div>
	</div>
<% end %>

</body>
</html>
